[user]
        name = Ojo Oluwasetemi
        email = setemiojo@gmail.com
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[core]
        editor = code
[hub]
	protocol = ssh
[rerere]
	autoupdate = true
[init]
	defaultBranch = main
[pull]
	rebase = false
