[user]
	name = Ojo Oluwasetemi
	email = setemiojo@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[core]
	editor = code --wait
[hub]
	protocol = ssh
[rerere]
	enabled = true
	autoupdate = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[pager]
	# Use `delta`
	log = delta
	show = delta
	reflog = delta
	diff = delta -s

[interactive]
	diffFilter = delta --color-only

[delta]
	features = side-by-side line-numbers decorations
	syntax-theme = Dracula
	plus-style = syntax "#003800"
	minus-style = syntax "#3f0001"

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
	line-numbers-left-style = cyan
	line-numbers-right-style = cyan
	line-numbers-minus-style = 124
	line-numbers-plus-style = 28