[user]
	name = oluwasetemi ojo
	email = setemiojo@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	co = checkout
	ci = commit
	st = status
	br = branch
	ls = ls-files
	last = log -1 HEAD
	dft = difftool
	dlog = -c diff.external=difft log -p --ext-diff
	staash = stash --all
	b = !bash branch.sh
	wdiff = diff --word-diff
	rdiff = diff --submodule=diff
	discard = !git checkout -- . && git submodule foreach git checkout -- . && git clean -fd
[column]
	ui = auto
[core]
	editor = code --wait
[hub]
	protocol = https
[rerere]
	enabled = true
	autoupdate = true
[init]
	defaultBranch = main
[pull]
	# rebase = true
# [diff]
# 	tool = vscode
# [difftool "vscode"]
# 	cmd = "code --wait --diff $LOCAL $REMOTE"
# [diff]
# 	tool = difftastic
# 	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
	# Use `delta`
	log = delta
	show = delta
	reflog = delta
	diff = delta -s

[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	syntax-theme = Dracula
	plus-style = syntax "#003800"
	minus-style = syntax "#3f0001"

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
	line-numbers-left-style = cyan
	line-numbers-right-style = cyan
	line-numbers-minus-style = 124
	line-numbers-plus-style = 28
[http]
	postBuffer = 1048576000
[push]
	autoSetupRemote = true
	default = tracking
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[branch]
	; autosetuprebase = always
	sort = -committerdate
[includeIf "gitdir:/Users/oluwasetemi/Development/fluna"]
	path = /Users/oluwasetemi/Development/fluna/.gitconfig
[maintenance]
	repo = /Users/oluwasetemi/Development/fluna/fluna-web-app
	repo = /Users/oluwasetemi/Development/fluna/fluna-core
[fetch]
	writeCommitGraph = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
